/* Hidden sidebar styles */
#sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-image: linear-gradient(#000000, #1F0732, #008D00, #B09916);
  overflow-x: hidden;
  transition: width 0.3s ease-in-out;
  padding-top: 60px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

/* Sidebar links */
#sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #FFE500;
  display: block;
  transition: 0.4s;
}

#sidebar a:hover {
  color: #B09916;
  opacity: 50%;
}

/* Menu icon */
#menuIcon {
  cursor: pointer;
  font-size: 24px;
  margin-left: 20px;
  color: #FFE500;
}

/* User info */
#userInfo {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center; 
  font-size: 12pt;
  font-weight: bold; 
  color: #000; 
  position: relative;
  padding-top: 100px;
}

#userInfo div {
  margin-bottom: 5px;
}

/* User description */
#userDescription {
  cursor: pointer;
  overflow: hidden;
}

#userDescription #fullDescription {
  display: none;
}

#userDescription.expanded #shortDescription {
  display: none;
}

#userDescription.expanded #fullDescription {
  display: block;
  transition: max-height 0.5s ease-in-out;
}

#userDescription #shortDescription {
  display: inline;
}

/* CRUD form styling */
#editFormContainer {
  position: absolute;
  bottom: 60px;
  left: 10px;
  width: calc(100% - 20px);
  background-color: #1F0732;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#editFormContainer form {
  display: flex;
  flex-direction: column;
}

#editFormContainer label {
  margin-top: 10px;
  color: #777272;
}

#editFormContainer input, #editFormContainer textarea {
  margin-top: 5px;
  padding: 8px;
  border: none;
  border-radius: 5px;
}

#editFormContainer button {
  margin-top: 10px;
  background-color: #B09916;
  color: #000000;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

#editFormContainer button:hover {
  background-color: #FFE500;
}

#editFormContainer button.cancel {
  background-color: #D9534F;
}

#editFormContainer button.cancel:hover {
  background-color: #C9302C;
}

/* General styles for larger screens (Desktop) */
body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

#CV_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cvSection {
  flex: 1 1 300px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
/* Media query for mobile screens
@media (max-width: 768px) {
  #menuIcon {
      margin: 0 auto; 
      padding-left: 0; 
      text-align: center; 
  }

  #menuIcon {
      display: inline; 
      font-size: 24px; 
  }
}


@media (max-width: 768px) {
  #CV_container {
    flex-direction: column;
    padding: 10px;
  }

  header {
    text-align: center;
  }

  .cvSection {
    flex: 1 1 100%;
    margin: 5px 0;
  }
}
*/