/* Hidden sidebar styles */
#sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-image: linear-gradient(#000000, #1F0732, #008D00, #B09916);
  overflow-x: hidden;
  transition: width 0.3s ease-in-out;
  padding-top: 60px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

/* Sidebar links */
#sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #FFE500;
  display: block;
  transition: 0.4s;
}

#sidebar a:hover {
  color: #B09916;
  opacity: 50%;
}

/* Menu icon */
#menuIcon {
  cursor: pointer;
  font-size: 24px;
  margin-left: 20px;
  color: #FFE500;
  padding-left: 70px;
}

#userInfo {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center; 
  font-size: 12pt;
  font-weight: bold; 
  color: #000; 
  position: relative;
  padding-top: 100px;
}

#userInfo div {
  margin-bottom: 5px;
}

 
#userDescription {
  cursor: pointer;
  overflow: hidden;
}

#userDescription #fullDescription {
  display: none;
}

#userDescription.expanded #shortDescription {
  display: none;
}

#userDescription.expanded #fullDescription {
  display: block;
  transition: max-height 0.5s ease-in-out;
}

#userDescription #shortDescription {
  display: inline;
}/*
*/