body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #000000;
  color: #FFFFFF;
}

header {
  text-align: center;
  padding-top: 50px;
}

h1 {
  color: #FFE500;
}

button {
  margin-left: 10px;
  background-color: #B09916;
  color: #000000;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

#welcome-text {
  float: right;
  font-size: 23px;
  color: #FFE500;
  margin-right: 20px;
}

#CV_list {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centriranje sekcija */
  padding: 20px;
}

.cvSection {
  width: 80%; /* Širina panela */
  height: auto; /* Automatska visina prema sadržaju */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #800080; /* Ljubičasta boja panela */
  margin-bottom: 15px; /* Razmak između panela */
  padding: 20px; /* Unutarnji razmak za bolji izgled teksta */
  border-radius: 10px; /* Blagi zaobljeni rubovi */
  color: #FFE500; /* Boja teksta */
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3s, opacity 0.3s, height 0.5s ease; /* Dodan prijelaz za visinu */
  cursor: pointer;
}

.cvSection:hover {
  opacity: 0.8; /* Efekt na hover */
  background-color: #370c4e; /* Tamnija ljubičasta na hover */
}

.sectionText {
  color: #FFE500;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.resumeContent {
  display: none;
  max-width: 85%;
  margin: 20px auto;
  padding: 30px;
  background-color: #1F0732;
  color: #FFFFFF;
  border-radius: 10px;
  overflow: hidden;
  max-height: 0; /* Početno skriveno */
  transition: max-height 0.5s ease-out, padding 0.5s ease-out; /* Animacija za prikaz sadržaja */
}

.cvSection.active .resumeContent {
  display: block;
  max-height: 500px; /* Dovoljno da prikaže sadržaj */
  padding: 20px; /* Povećanje paddinga pri otvaranju */
  animation: slideDown 0.5s ease-out forwards;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.admin-buttons {
  display: flex;
  justify-content: space-around; /* Distribute buttons evenly */
  margin-top: 10px; /* Add some space above the buttons */
  margin-bottom: 25px;
}

.add-section-button {
  text-align: center; /* Center the Add Section button */
  margin-top: 20px; /* Add space above the button */
}
