body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #000000;
}

header {
  text-align: center;
  padding-top: 50px;
}

#menuIcon {
  padding-left: 70px;
  color: #FFE500;
}

h1 {
  color: #FFE500;
}

#buttons {
  position: absolute;
  top: 20px;
  right: 20px;
}

button {
  margin-left: 10px;
  background-color: #B09916;
  color: #000000;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

#button1 {
  background-color: #FFE500;
}

#button2 {
  background-color: #008D00;
}

/* Hidden sidebar styles */
#sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-image: linear-gradient(#000000, #1F0732, #008D00, #B09916);
  overflow-x: hidden;
  transition: width 0.3s ease-in-out;
  padding-top: 60px;
  border-radius: 10px;

}

#sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #FFE500;
  display: block;
  transition: 0.4s;
}

#sidebar a:hover {
  color: #B09916;
  opacity: 50%;
}

#menuIcon {
  cursor: pointer;
  font-size: 24px;
  margin-left: 20px;
}

#singInForm {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  width: 80%;
  color: #FFE500;
  text-align: center;
  justify-content: center;
}

label {
  display: block;
  margin-top: 10px;
  padding: 20px;
}

input,textarea{
  display: block;
  width: 100%;
  margin-bottom: 5px;
  background: #535353;
}
#email{
  width: 80%;
  margin-left: 9%;
}
#description{
  margin-left: -1%;
  resize: none;
}
#company{
  width: 80%;
  margin-left: 8%;
  resize: none;
}

input[type="submit"] {
  margin-top: 25%;
  width: 40%;
  margin-left: 29%;
  background: #008D00;
  border-radius: 12px;
}